################################################################################
# Dependences
################################################################################
node_modules/
bower_components/

################################################################################
# folder temp
################################################################################
.tmp/
public/
