extends layout

block append head
	link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
	link(rel="stylesheet", href="css/theme.css")

block body
	.block-title
		h1.title Ok CapJS!! :)